#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_build:

override_dh_auto_install:
	dh_auto_install
	#debian/git-hooks/usr/lib/git-core/
	dh_link usr/share/git-hooks/commands/git-hooks usr/lib/git-core/git-hooks
	grep -v ci configs/hooks-list | while read HOOK; \
	do \
	    dh_link usr/share/git-hooks/templates/common usr/share/git-core/templates/hooks/$$HOOK; \
	done
